/* Base Colors */
// TODO define a color palette here
$main-color: #ff3b81;
$background-main-color: #ffffff;
$shadow-main-color: rgba(0, 0, 0, 0.1);

/* Font colors */
$font-color-dark: #222222;
$font-color-light: #ffffff;
$font-color-grey: #4a4a4a;

/* Dropdown */
